# Ignore everything in these folders
predictions/*
prepared_data/*
rna_modification_data/*

# But do NOT ignore the folders themselves (keep empty folders)
!predictions/
!prepared_data/
!rna_modification_data/
